<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
                <h6><a href="/createpost">create a new blog post ></a></h6>
            <h2>Blog Posts Made By {{user.dataValues.username}} </h2> 
            {{#each posts}}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{content}}</p>
                        <p class="card-text"><small class="text-muted">{{formatted_date}}</small></p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
