<div class="card p-3 mt-5 cstm-light-text cstm-shadow">
  <div class="cstm-light-text card-body">
    <h2 class="cstm-light-text card-title">New Post</h2>
    <form class="form newpost-form">
      <div class="form-group p-2">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title" />
      </div>
      <div class="form-group p-2">
        <label for="post-content">Content:</label>
        <textarea class="form-input" id="post-content" rows="5"></textarea>
      </div>
      <div class="form-group p-2">
        <button class="cstm-btn btn btn-primary" type="submit">Create Post</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/newpost.js"></script>
