  <div class="card p-3 mt-5 cstm-light-text cstm-shadow">
    <div class="cstm-light-text card-body">
      <h2 class="cstm-light-text card-title">Sign Up</h2>
      <form class="form signup-form">
        <div class="form-group p-2">
          <label for="user-signup">Username:</label>
          <input class="form-input" type="text" id="user-signup" />
        </div>
        <div class="form-group p-2">
          <label for="password-signup">Password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group p-2">
          <button class="cstm-btn btn btn-primary signup-form" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>