:root {
    --bg: #4c4b49;
    --dark: #282724;
    --accent2: #208a8a;
    --light2: #fff;
    --acc2-25: #025f5f;
    --shadow: #181818;
    --shadow2: #90908d;  }


    body {
        background-color: var(--dark);
    }
    .navbar-custom, 
    .blog-title,
    .cstm
    {
        background-color: var(--accent2) !important; 
    }
    
    h1 {
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 700;
        text-shadow: var(--shadow) 2px 2px 5px;
        letter-spacing: .030em;
        background-color: var(--acc2-25);
        border-radius: 8px;
        padding: 10px !important;
        padding-top: 16px !important;
        box-shadow: 7px 5px var(--shadow);
        font-size: 4rem;
        color: var(--light2);
    }
    
    h2 {
        font-family: 'Bebas Neue', sans-serif;
        text-shadow: var(--shadow) 2px 2px 5px;
        font-weight: 400;
        padding: 2px 0px 0px 9px;
        color: var(--light2);
    }

    h6 {
        font-family: 'Roboto Condensed', sans-serif;
    }
    
a, h6 a {
    text-decoration: none !important;
    color: var(--light2) !important;

}

a div div div p {
    color: var(--dark);
}

h6 a:hover {
    color: var(--accent2) !important;
}

.cstm-dark-text:hover {
    color: var(--dark) !important;
}

    .cstm-light-text {
        background-color: var(--accent2) !important; 
        color: var(--light2) !important; 
    }
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-nav .nav-link {
        color: var(--light2) !important; 
    }

    .cstm-btn {
        color:var(--light2) !important; 
        background-color: var(--accent2) !important; 
        border-color: var(--accent2);
    }

    .cstm-btn:hover {
        background: var(--acc2-25) !important; 
        color: var(--light2) !important; 
        border-color: var(--acc2-25);
    }

    .cstm-shadow {
        box-shadow: 10px 10px 5px var(--shadow);
    }

    .lg-card-body {
        background: var(--light2);
    }

    .teal-link,
    .black-link:hover {
        color: var(--accent2) !important;
    }

    .black-link,
    .white-link:hover {
        color: var(--shadow) !important;
    }

    .white-link,
    .light-text {
        color: var(--light2) !important;
    }

    .card {
        border-color: var(--accent2) !important;
    }

    @media (max-width: 376px) {
        .home-post-info {
            font-size: .75rem;
        }
        
        .home-post-title {
            font-size: 1rem;
        }
    }
    